<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <p>Please log in using Google:</p>

    <!-- Button to redirect to Google login route -->
    <a href="/api/v1/auth/google">
      <button>Login with Google</button>
    </a>
  </body>
</html>
